* {
   *{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(120deg, #74ebd5, #ACB6E5);
    line-height: 1.6;
}

/* MENU */
nav {
    background: #222;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #00ffd5;
}

/* HEADER */
header {
    text-align: center;
    padding: 4rem 2rem;
    color: white;
}

/* SECTION */
section {
    max-width: 900px;
    margin: auto;
    padding: 2rem;
}

/* CENTER */
.center {
    text-align: center;
}

/* AVATAR */
.avatar {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

/* PROJECT */
.project {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.project:hover {
    transform: scale(1.05);
    background: #f0faff;
}

/* FORM */
input, textarea {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #555;
}

/* SCROLL */
html {
    scroll-behavior: smooth;
}
